<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Yapabileceğiniz Tarifler:</h1>
        <ul class="tarif-list">
            {% for tarif in tarifler %}
                <li><a href="{{ url_for('tarif', tarif_adi=tarif['isim']) }}">{{ tarif['isim'] }}</a></li>
            {% endfor %}
        </ul>
        <a class="button" href="{{ url_for('index') }}">Yeni Malzemelerle Ara</a>
    </div>
</body>
</html>